doctype html
html
  head
    title= title
    link(rel='stylesheet', href='../stylesheets/style.css')
    script(type="module" src="../javascripts/pages/home.js")
  body
    h1 Home
    button(id="log-out" class="log-out") Log Out
    div(class="clear")