extends layout

block content
 
  //- p Welcome to #{title}

  div.wrapper
    h1 Welcome To Our Social Network
    button.btn-register
      a(href="/register") Register
    button.btn-login
      a(href="/login") Login
