extends layout-register

block content 
    div.wrapper-register
        h1 Register
        form(id="register-form" action="/" method="post")
            label username:
                input(type="text" name="username")
            br
            label name:
                input(type="text" name="name")
            br
            label password:
                input( type="text" name="password")
            br
            label
                input(type="file" name="image" multiple)
            br
            label(id="error")
            input.btn-register-2(type="submit" value="Register")