extends layout-register

block content 
    div.wrapper-register
        h1 Register
        form(action="/" method="POST")
        label username:
            input(type="text" name="username")
        br
        label name:
            input(type="text" name="name")
        br
        label password:
            input( type="text" name="password")
        br
        label
            input(type="file" name="image" multiple)
        br
        label(id="error")
        button.btn-register-2(id="register" type="submit") Register